<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- <script defer src="js/index.js"></script> -->
    <title>Track My Series</title>
  </head>
  <body>
    <%- include('partials/header', { watchlistLinks: watchlistLinks }) %>
    <h2>Found <%= results.length %> results for: <%= searchTerm %></h2>
    <div class="container">
      <div class="results-list">
        <% results.forEach(series => { %>
          <div class="card" data-id="<%= series.id %>">
            <div class="image-container">
              <img src="<%= series.thumbnail %>" alt="<%= series.originalTitle %> poster image" class="thumbnail">
            </div>
            <div class="text-container">
              <p class="primary-title"><a href="/title/<%= series.id %>"><%= series.title %></a></p>
              <!-- <p class="original-title"><%= series.originalTitle %></p> -->
              <div class="format">
                <p class="type"><%= series.type === 'tvSeries' || series.type === 'tvMiniSeries' ? 'TV Series' : 'Movie' %></p>
                <p class="start-year"><%= series.startYear %></p>
                <p class="rating"><%= series.rating %></p>
                <!-- <p class="overview"><%= series.plot %></p> -->
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
