<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <!-- <script defer src="js/index.js"></script> -->
    <title>Track My Movies</title>
  </head>
  <body>
    <%- include('partials/header', { watchlistLinks: watchlistLinks }) %>
    <h2>Found <%= results.length %> results for: <%= searchTerm %></h2>
    <div class="results">
      <% results.forEach(series => { %>
        <div class="card" data-id="<%= series.id %>">
          <div class="image-container">
            <img src="<%= series.thumbnail %>" alt="<%= series.originalTitle %> poster image" class="thumbnail">
          </div>
          <div class="text-container">
            <p><%= series.type %></p>
            <p><a href="/title/<%= series.id %>"><%= series.title %></a></p>
          </div>
          <div class="text-container-two">
            <p><%= series.originalTitle %></p>
            <p><%= series.rating %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </body>
</html>
