<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" /> <!-- tells the browser to always load from the site root -->
    <script defer src="/js/index.js"></script> <!-- because the path it would otherwise try to load: '/title/js/index.js' doesn't exist -->
    <title>Track My Movies</title>
  </head>
  <body>
    <%- include('partials/header', { watchlistLinks: watchlistLinks }) %>
    <div class="title-information" id="<%= title.id %>" data-id="<%= title.id %>">
        <p class="primary-title"><%= title.title %></p>
        <p class="type"><%= title.type %></p>
        <p class="start-year"><%= title.startYear %></p>
        <p class="end-year"><%= title.endYear %></p>
        <p class="rating"><%= title.rating %></p>
        <p class="plot"><%= title.plot %></p>
        <img src="<%= title.thumbnail %>" alt="<%= title.title %> poster image" class="thumbnail">
        <button type="submit" class="submit-btn">Add to Watchlist</button>
    </div>
  </body>
</html>