<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/watchlist.css" />
    <script defer src="/js/watchlist.js"></script>
    <title>Track My Series</title>
  </head>
  <body>
    <script>
      const seasons = <%- JSON.stringify(title.seasons) %>;
    </script>
    <div class="app">
      <%- include('partials/header', { watchlistLinks: watchlistLinks }) %>
      <div class="container">
        <div class="title-information" id="<%= title._id %>" data-id="<%= title._id %>" data-status="<%= title.status %>">
          <div class="thumbnail-container">
            <img src="<%= title.thumbnail %>" alt="<%= title.title %> poster image" class="full-thumbnail">
            <div class="add-remove">
              <select name="status" id="status">
                <% listOfStatuses.forEach(status => { %>
                  <option value="<%= status.value %>"
                    <%= title.status === status.value ? 'selected' : '' %>>
                    <%= status.label %>
                  </option>
                <% }) %>
              </select>
              <button class="delete-btn" type="button">🗑️</button>
            </div>
          </div>
          <div class="example">
            <div class="context">
              <p class="primary-title"><%= title.title %></p>
              <p class="type"><%= title.type === 'movie' ? 'Movie' : 'TV Series' %></p>
              <p class="plot"><%= title.plot %></p>
            </div>
              <!-- <p class="start-year"><%= title.startYear %></p> -->
              <!-- <p class="end-year"><%= title.endYear %></p> -->
              <!-- <p class="rating"><%= title.rating %></p> -->
            <div class="status-buttons">
              <select name="rating" id="rating">
                <% listOfRatings.forEach(rating => { %>
                  <option value="<%= rating.value %>"
                    <%= title.rating === rating.value ? 'selected' : '' %>>
                    <%= rating.label %>
                  </option>
                <% }) %>
              </select>
              <% if (title.type != 'movie') { %>
                <select name="seasons" id="seasons">
                  <% title.seasons.forEach(season => { %>
                    <option value="<%= season.season %>">Season <%= season.season %></option>
                  <% }) %>
                </select>
              <% } else { %>
                <span id="seasons">Watched:</span>
              <% }%>
              <div class="episode-handler">
                <input type="number" name="total_episodes" id="total_episodes" disabled value="<%= title.seasons[0].total_episodes %>">
                /
                <input type="number" name="watched_episodes" id="watched_episodes" value="<%= title.seasons[0].watched_episodes %>">
                <button type="button" class="increment-btn">+</button>
                <button type="button" class="decrement-btn">-</button>
              </div>
              <span class="invalid-number"></span>
            </div>
          </div>
          <dialog class="confirm-deletion">
            <p>Are you sure you want to delete this entry?</p>
            <div class="confirmation-buttons">
              <button class="no-delete">No</button>
              <button class="yes-delete">Yes</button>
            </div>
          </dialog>
          <dialog class="successfully-deleted">
            <p>'<%= title.title %>' has successfully been deleted.</p>
            <button type="button">Close</button>
          </dialog>
        </div>
      </div>
    </div>
  </body>
</html>